<h1>平台服务协议 </h1>
<div class="popupContent">
    <div>本保险平台（以下简称“平台”）服务协议（以下简称“本协议”）是深圳宁远科技有限 公司（以下简称“本公司”）与平台用户(以下简称“您”)就平台服务相关事项所订立的 有效合约。 </div>
    <div>您通过网络页面点击确认或以其他方式接受本协议，即表示您与本公司已达成协议并同意 接受本协议的全部约定内容以及与本协议有关的已经发布或将来可能发布的各项规则、页 面提示、操作流程、公告或通知（以下统称“本协议”）。 </div>
    <div>在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体标注的内容）。如果 您不同意本协议的任意内容，或者无法准确理解该条款的含义，请不要进行后续操作。 </div>
    <br>
    <div>一、相关定义 </div>
    <div>除非本协议另有约定，本协议下列术语定义如下： </div>
    <div>1.1 本保险平台：指本公司向您提供的供您查询保险公司产品信息，进行信息交流，达成 交易意向及向您提供其他与保险有关的辅助信息服务的特定空间。 </div>
    <div>1.2 保险公司：指经中国保险监督管理机构（保监会）批准设立，并依法登记注册的向您 提供保险产品及相关服务的商业保险机构。</div>
    <div>1.3 投保：指您借助平台技术支持向保险公司购买产品的行为。 </div>
    <div>1.4 核保：指保险公司根据自身承保能力和市场环境对您的投保需求进行风险评估、风险 识别和风险选择的行为。</div>
    <div>1.5 承保：指保险公司在您提出投保请求后，经核保认为符合承保条件并同意接受您的投 保申请，承担保险合同规定的保险责任的行为。 </div>
    <div>1.6 出单：指保险公司根据您提出的投保请求，进行承保并向您发放保单之行为。 </div>
    <div>1.7 身份信息：指您在使用相关款项代收代付功能过程中所预留的各项身份信息，包括但 不限于您的姓名、身份证件号码、手机号码、银行卡号以及地址信息等。 </div>
    <div>1.8 推荐套餐：指平台根据业务数据分析及与保险公司的商务洽谈结果，为所有平台用户 统一推荐的常用保险产品组合。 </div>
    <br>
    <div>二、声明与承诺 </div>
    <div>2.1 您承诺不为任何非法目的或以任何非法方式使用平台服务，并承诺遵守中国相关法 律、法规及互联网之使用惯例。 </div>
    <div>2.2 您同意，在交易达成或交易申请提交后您不得变更、撤回或撤销，但本协议另有约定 或您签署的其他协议另有约定的除外。 </div>
    <div>2.3 您同意，即便您已符合本协议约定的条件，保险产品购买的实现以保险公司的决定为 准，平台对此不作任何可实现的承诺。 </div>
    <div>2.4 您同意，在您购买保险产品后，保险合同的履行由您和保险公司完成，平台不对此承 担任何责任。 </div>
    <div>2.5 您同意，若出现因平台自身原因、系统差错、故障或其他原因引发的展示延误、错误 或者用户不当获利等情形的，您同意平台可以采取更正差错、扣划款项、暂停服务等适当 纠正措施。 </div>
    <br>
    <div>三、平台服务</div>
    <div>本公司提供的平台服务包括如下内容： </div>
    <div>3.1 产品购买 </div>
    <div>您可以通过平台获知各保险公司对于保险产品及推荐套餐的报价，并可直接向保险公司发 出购买产品的申请。通过平台您可以直接向保险公司申请投保，完成保险购买。 </div>
    <div>3.2 出险报案 </div>
    <div>若发生保险事故，您可通过平台进行报案将出险情况通知保险公司。 </div>
    <div>3.3 其他服务 </div>
    <div>您在通过平台购买保险产品后，可获得保险公司提供的各类增值服务。 </div>
    <div>具体服务内容以保险公司提供的为准。 </div>
    <br>
    <div>四、风险提示 </div>
    <div>4.1 您知晓并同意，您通过平台所从事的交易可能面临如下风险，该些风险需由您自行承 担： </div>
    <div>4.1.1 监管风险：有关法律、法规及相关政策、规则发生变化，导致无法实现您的保险产 品购买交易，您由此可能遭受损失； </div>
    <div>4.1.2 违约风险：因保险公司无力或无意愿按保险合同履约，您由此可能遭受损失； </div>
    <div>4.1.3 成交风险：您所购买的保险产品无法最终承保出单，您由此无法获得保险产品及服 务。 </div>
    <div>4.1.4  本协议约定的不可抗力因素导致的风险； </div>
    <div>4.1.5 因您的过错导致的任何损失，该过错包括但不限于：决策失误、操作不当、遗忘或 泄露账户密码、密码被他人破解、您使用的计算机系统被第三方侵入、您委托他人代理交 易时他人恶意或不当操作而造成的损失。 </div>
    <div>4.2 本公司不对您及/或任何交易提供任何担保或条件，无论是明示、默示或法定的。本 公司向您提供的各种信息及资料仅为参考，您应依其独立判断做出决策。您据此购买保险 产品的，产生的风险由您自行承担，您无权据此向本公司提出任何法律主张。在交易过程 中，您与保险公司之间发生的纠纷，由纠纷各方自行解决，本公司不承担任何责任。</div>
    <div>4.3 以上并不能揭示您通过本公司进行交易的全部风险及市场的全部情形。您在做出交易 决策前，应全面了解相关交易，谨慎决策，并自行承担全部风险。</div>
    <br>
    <div>五、除外责任 </div>
    <div>平台因下列状况无法正常运作，使您无法使用平台服务时，平台不承担任何责任，该状况 包括但不限于： </div>
    <div>5.1 平台系统停机维护或升级； </div>
    <div>5.2 平台所依赖的电信设备出现故障； </div>
    <div>5.3 因台风、地震、海啸、洪水、雷电、停电、战争或恐怖袭击、罢工等不可抗力原因；</div>
    <div>5.4  您的电脑软件、系统、硬件和通信线路、供电线路出现故障的； </div>
    <div>5.5  用户操作不当或通过非平台授权或认可的方式使用平台服务的； </div>
    <div>5.6  因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故 障、银行原因 、第三方服务瑕疵或政府行为等原因；</div>
    <div>5.7  其他不可归因于平台的原因。 </div>
    <div>在任何情况下，平台对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用 总额。 </div>
    <br>
    <div>六、信息收集、使用、共享与保护 </div>
    <div>6.1 收集您的信息 </div>
    <div>6.1.1 为了更好地向您提供平台服务，您同意并授权本公司通过以下途径获取、使用您的 信息： </div>
    <div>6.1.1.1 收集您留存在本公司的关联公司（包括但不限于深圳宁远科技有限公司）处的信 息； </div>
    <div>6.1.1.2 收集您留存在本公司合作伙伴处的信息；</div>
    <div>6.1.1.3 向行政机关、司法机关查询、打印、留存您的信息；</div>
    <div>6.1.1.4 向合法留存您信息的自然人、法人以及其他组织收集您的信息； </div>
    <div>6.1.1.5 使用您个人信息，从第三方服务商查询获取其他相关信息。 </div>
    <div>6.1.2 您同意并授权本公司收集您的信息包括但不限于： </div>
    <div>6.1.2.1 您在本公司关联公司和合作伙伴、保险公司、第三方服务商处中留存以及形成的 任何数据和信息，包括但不限于您的身份信息及资产信息； </div>
    <div>6.1.2.2 您在申请、使用保险平台服务时所提供以及形成的任何数据和信息； </div>
    <div>6.1.2.3 与您申请或使用的保险平台服务相关的、您留存的其他自然人、法人和组织的其 他相关信息； </div>
    <div>6.1.2.4 与保险平台服务相关的其他信息等。 </div>
    <div>6.2 使用您的信息 </div>
    <div>为了更好地为您提供服务，您同意并授权保险平台将您的信息用于如下用途： </div>
    <div>6.2.1 向保险公司提供以缔结、履行保险合同及本协议约定服务之用； </div>
    <div>6.2.2 向其他相关主体提供以为履行本协议约定服务之用； </div>
    <div>6.2.3 预防或阻止非法的活动； </div>
    <div>6.2.4  经您许可的其他用途。 </div>
    <div>6.3 分享您的信息 </div>
    <div>本公司对您的信息承担保密义务，不会为满足第三方的营销目的而向其出售或出租您的任 何信息，仅在下列情况下才将您的信息与第三方共享：</div>
    <div>6.3.1 获得您的同意或授权； </div>
    <div>6.3.2 某些服务和/或产品和/或推广活动由本公司的合作伙伴提供或由本公司与合作伙伴 共同提供，本公司会与其共享并使用； </div>
    <div>6.3.3 在您违反本协议及其他相关协议时，向您的交易对手，本公司合作伙伴、本公司的 关联公司等第三方提供； </div>
    <div>6.3.4 根据法律法规的规定及行政/司法机关的要求。 </div>
    <br>
    <div>七、协议变更、解除、提前终止和权利义务的转让</div>
    <div>7.1 协议变更与解除 </div>
    <div>本公司有权随时单方面修改本协议中与您之间相关的权利义务，并根据本协议约定的方式 通知您，若您不同意修改本协议，则应当立即停止使用保险平台服务；否则，视为您同意 并接受修改后的协议。经修订的协议一经公示，立即生效。 </div>
    <div>7.2 协议终止 </div>
    <div>7.2.1 您在使用保险平台服务的过程中，如果有下列情形发生，本公司有权单方面解除本 协议： </div>
    <div>7.2.1.1 您的账户因任何原因注销的； </div>
    <div>7.2.1.2 冒用他人名义、盗用他人账户使用保险平台服务的； </div>
    <div>7.2.1.3 为非法目的使用保险平台服务的； </div>
    <div>7.2.1.4 从事任何可能侵害保险平台系统、资料之行为； </div>
    <div>7.2.1.5 违反任何法律法规、本协议约定的； </div>
    <div>7.2.1.6 监管机构认为保险平台提供的服务不再符合相关监管规定的； </div>
    <div>7.2.2 除上述原因外，本公司有权根据风险及自身业务运营情况需要随时终止向您提供本 服务，因此导致您无法使用本服务或服务受到限制的，不视为本公司违约。</div>
    <div>7.3 协议权利义务的转让 </div>
    <div>本公司有权将其在本协议项下的权利和义务全部或部分转让给第三方，且转让行为无须征 得您的同意，但将书面通知您该等转让行为。上述权利义务转让后，本公司承诺就受让人 履约行为承担连带保证责任，但本公司不再存续的情况除外。 </div>
    <br>
    <div>八、争议的解决 </div>
    <div>本协议的订立、效力、解释、履行及争议的解决均适用中华人民共和国法律。在协议履行 期间，凡由本协议引起的或与本协议有关的一切争议、纠纷，当事人应首先协商解决。协 商不成，各方一致同意提交被告方所在地人民法院通过诉讼方式解决。 </div>
    <br>
    <div>九、其他 </div>
    <div>9.1 在本协议中，除非本协议上下文另有规定： </div>
    <div>9.1.1 凡提及本协议应包括本协议及其附件，以及对该协议所作的任何修改、修订或补充 的文件；</div>
    <div>9.1.2 凡提及条、款和附件仅指本协议的条、款和附件； </div>
    <div>9.1.3 本协议条款的标题仅为查阅方便而设置，不应构成对本协议的任何解释，不对标题 之下的内容及范围作任何限定。 </div>
    <div>9.2 本协议的附件及各项补充、修订或变更，为本协议不可分割的组成部分，与本协议正 文具有同等法律效力。 </div>
    <div>9.3 协议任一方通过网络页面点击确认与其他方式（包括但不限于签字或盖章确认等方 式）接受本协议具有同等法律效力。 </div>
    <div>9.4 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，则应认为该 条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的经济目的 的、有效的新条款所取代，而且在此情况下，本协议的其他条款仍然完全有效并具有约束 力。 </div>
    <div>9.5 本协议未尽事宜，由双方协商处理，或者按国家有关法律、法规的规定执行。 </div>
</div>