<h1>投保须知</h1>
<div class="popupContent popup_policy">
    <div>1、 本产品由安心财产保险有限责任公司承保，审批/备案编号为：(安心财险)(备-医疗保 险)【2017】(主) 003 号</div>
    <div>2、 仅为在就医 160 平台预约的用户提供保障； </div>
    <div>3、 领取限制：每次预约挂号至多可领取 1 份，就诊当天无法领取； </div>
    <div>4、 保障时间：领取次日零时生效，保障期限 6 个月；</div>
    <div>5、 保障内容：在等待期后，投保人因疾病或意外进行住院治疗，可获赔住院医疗保险金 200 元（免赔额 0 元）； </div>
    <div>6、 等待期：30 天； </div>
    <div>7、 投保人年龄：30 天-85 周岁； </div>
    <div>8、 承保职业：1-4 类职业，具体详见《中华保险职业分类表（2011 版）》； </div>
    <div>9、 本产品为网络销售产品，通过网上投保、网上支付、网上即时核保并出具电子保单， 保险条款为《安心住院费用医疗保险条款（2017 版）（A 款）》； </div>
    <div>10、如有理赔或其他疑问请咨询：4001191160。 </div>
</div>